/*Muda a cor padrão do layout*/
$cor-geral: #f00;
$fundo-geral: #fff;

/*Altera cores dos links*/
$cor-menu: #000;
$fundo-menu:#fff;

$cor-hover-menu: #fff;
$fundo-hover-menu:#666;

/*Fonte padrão do Projeto*/
$fonte: 'Overpass', sans-serif;
